{
    "bootstrap_expect": 3,
    "client_addr": "0.0.0.0",
    "datacenter": "CA-Central",
    "data_dir": "{{ data_dir }}",
    "domain": "consul",
    "enable_script_checks": true,
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "enable_syslog": true,
    "encrypt": "6JxBzAzub8kw+kvM+/Z+FQ==",
    "leave_on_terminate": true,
    "log_level": "INFO",
    "rejoin_after_leave": true,
    "server": true,
    "start_join": [
        "{{ n1_ip }}",
        "{{ n2_ip }}",
        "{{ n3_ip }}"
    ],
    "ui": true
}
